/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
	font-family: sans-serif;
}
.alertify {
	background: #FFF;
	border: 10px solid #333; /* browsers that don't support rgba */
	border: 10px solid rgba(0,0,0,.7);
	border-radius: 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	/*-webkit-background-clip: padding;     
	   -moz-background-clip: padding;    
	        background-clip: padding-box; */
}
.alertify-text {
	border: 1px solid #CCC;
	padding: 10px;
	border-radius: 4px;
}
.alertify-button {
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	padding: 6px 15px;
	text-decoration: none;
}
.alertify-button:hover,
.alertify-button:focus {
	outline: none;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:         linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
}
.alertify-button:focus {
	box-shadow: 0 0 15px #2B72D5;
}
.alertify-button:active {
	position: relative;
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
	background-color: #E6343B;
	border: 1px solid #BC0521;
}
.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
	background-color: #2FAD6A;
	border: 1px solid #018D3A;
}

.alertify-log {
	background: #F3A02B;
	padding: 15px;
	border-radius: 4px;
	color: #FFF;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
.alertify-log-error {
	background: #E6343B;

}
.alertify-log-success {
	background: #2FAD6A;

}

.alertify-image-button {
	border-style: none;
	font-style: none;
	background-color: transparent;
	width: 80px;
	height: 80px;
	color: transparent;
}

#alertify-pos {
	background: url(../images/feedback_green.png)no-repeat center;
	background-size: 50px 50px;
}
#alertify-pos:hover {
	background: url(../images/feedback_green_hover.png)no-repeat center;
	background-size: 58px 58px;
}

#alertify-neg {
	background: url(../images/feedback_red.png)no-repeat center;
	background-size: 50px 50px;
}
#alertify-neg:hover {
	background: url(../images/feedback_red_hover.png)no-repeat center;
	background-size: 58px 58px;
}

#alertify-neutral {
	background: url(../images/feedback_yellow.png)no-repeat center;
	background-size: 50px 50px;
}
#alertify-neutral:hover {
	background: url(../images/feedback_yellow_hover.png)no-repeat center;
	background-size: 58px 58px;
}
