/*
  ---------------------------------------------- OLD BROWSERS --------------------------------------
*/
body {
	font: sans-serif;
}

/* overwrite display: none; for everything except IE6-8 */
:root *> .feedback-hidden {
	display: block;
	visibility: hidden;
}

/*
	------------------------------------- CLASS SELECTORS ----------------------------------------
*/

.feedback {
	background: #FFF;
	border: 5px solid #333; /* browsers that don't support rgba */
	border: 5px solid rgba(0,0,0,.7);
	border-radius: 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	/*-webkit-background-clip: padding;     
	   -moz-background-clip: padding;    
	        background-clip: padding-box; */
}

.feedback-button,
.feedback-button:hover,
.feedback-button:active,
.feedback-button:visited {
	color: #FFF;
	font-weight: bold;
	padding: 6px 15px;
	text-decoration: none;
	background: none;
	border: none;
	/* line-height and font-size for input button */
	line-height: 1.5;
	font-size: 100%;
	display: inline-block;
	cursor: pointer;
	margin-left: 5px;
	overflow: hidden;
}

.feedback-button:focus {
	box-shadow: 0 0 15px #2B72D5;
}
.feedback-button:active {
	position: relative;
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}

.feedback-buttons {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.feedback-button-ok,
.feedback-button-ok:hover,
.feedback-button-ok:focus {
	background-color: #2FAD6A;
	border: 1px solid #018D3A;
}

.feedback-image-button, 
.feedback-image-button:hover, 
.feedback-image-button:focus,
.feedback-image-button:active,
.feedback-image-button:visited  {
	padding: none;
	border-style: none;
	outline: none;
	margin: none;
	box-shadow: none;
	font-style: none;
	background-color: transparent;
	color: transparent;
	width: 65px;
	height: 65px;
}

.feedback-close, 
.feedback-close:hover,
.feedback-close:focus,
.feedback-close:active,
.feedback-close:visited {
	padding: none;
	outline: none;
	border-style: none;
	margin: none;
	box-shadow: none;
	font-style: inherit;
	background-color: inherit;
	height: 20px;
	width: 20px;
	font-size: 12px;
	color: #999;
	margin-right: 2px;
	float: right;
}

.feedback-close:hover, .feedback-cancel:hover{
	color: #000;
}

.feedback-cancel, 
.feedback-cancel:hover,
.feedback-cancel:focus,
.feedback-cancel:active,
.feedback-cancel:visited {
	padding: none;
	outline: none;
	border-style: none;
	margin: none;
	box-shadow: none;
	font-style: inherit;
	background-color: inherit;
}

.feedback-cancel {
	float: left;
	color: #999;
	height: 20px;
	margin-left: 2%;
	vertical-align: center;
}

.feedback-log {
	position: fixed;
	text-align: center;
	border: 1px solid #999;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: none;
	z-index: 1000;
	background-color: inherit;
	font: inherit;
	font-size: inherit;
	width: 300px;
	height: 150px;
	right: 5%;

	-webkit-transition: all 0.7s ease-in;
       -moz-transition: all 0.7s ease-in;
        -ms-transition: all 0.7s ease-in;
         -o-transition: all 0.7s ease-in;
            transition: all 0.7s ease-in;

}

.feedback-log-show {
	bottom: 0;
	opacity: 1;
}

#feedback-log-top {

	display: block;

}
#feedback-log-bottom {
	margin-top: 10%;
	display: block;
}



.feedback-log-hidden {
	bottom: -300px;
	opacity: 0;
}

.feedback-text {
	border: 1px solid #CCC;
	border-radius: 4px;
	width: 95%;
}


/*
 	--------------------------------------- ID SELECTORS ------------------------------------
*/

#feedback-positive {
	background: url(../images/feedback_green.svg)no-repeat center;
	background-size: 80px 80px;
}
#feedback-positive:hover {
	background: url(../images/feedback_green_hover.svg)no-repeat center;
	background-size: 80px 80px;
}

#feedback-negative {
	background: url(../images/feedback_red.svg)no-repeat center;
	background-size: 80px 80px;
}
#feedback-negative:hover {
	background: url(../images/feedback_red_hover.svg)no-repeat center;
	background-size: 80px 80px;
}

#feedback-neutral {
	background: url(../images/feedback_yellow.svg)no-repeat center;
	background-size: 80px 80px;
}
#feedback-neutral:hover {
	background: url(../images/feedback_yellow_hover.svg)no-repeat center;
	background-size: 80px 80px;
}

/*
	------------------------------------ FLEXIBILITY ----------------------------------------
*/

@media only screen and (max-width: 680px) {
	.feedback{
		width: 90%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
	.feedback {
		left: 5%;
		margin: 0;
	}
}
