/**
 * Default Look and Feel
 */
.feedback,
.feedback-log {
	font-family: sans-serif;
}
.feedback {
	background: #FFF;
	border: 5px solid #333; /* browsers that don't support rgba */
	border: 5px solid rgba(0,0,0,.7);
	border-radius: 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	/*-webkit-background-clip: padding;     
	   -moz-background-clip: padding;    
	        background-clip: padding-box; */
}
.feedback-text {
	border: 1px solid #CCC;
	border-radius: 4px;
	max-width: 450px;
}
.feedback-button {
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	padding: 6px 15px;
	text-decoration: none;
}
.feedback-button:hover,
.feedback-button:focus {
	outline: none;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:         linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
}
.feedback-button:focus {
	box-shadow: 0 0 15px #2B72D5;
}
.feedback-button:active {
	position: relative;
	box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.feedback-button-cancel,
.feedback-button-cancel:hover,
.feedback-button-cancel:focus {
	background-color: #E6343B;
	border: 1px solid #BC0521;
}
.feedback-button-ok,
.feedback-button-ok:hover,
.feedback-button-ok:focus {
	background-color: #2FAD6A;
	border: 1px solid #018D3A;
}

.feedback-log {
	background: #166CEC;
	padding: 15px;
	border-radius: 4px;
	color: #FFF;
}

.feedback-log-neutral {
	background: #FFB504;
}

.feedback-log-error {
	background: #D8442F;
}

.feedback-log-success {
	background: #009957;

}

.feedback-image-button, 
.feedback-image-button:hover, 
.feedback-image-button:focus,
.feedback-image-button:active {
	padding: none;
	border-style: none;
	margin: none;
	box-shadow: none;
	font-style: none;
	background-color: transparent;
	color: transparent;
	width: 80px;
	height: 80px;
}


#feedback-pos {
	background: url(../images/feedback_green.svg)no-repeat center;
	background-size: 80px 80px;
}
#feedback-pos:hover {
	background: url(../images/feedback_green_hover.svg)no-repeat center;
	background-size: 80px 80px;
}

#feedback-neg {
	background: url(../images/feedback_red.svg)no-repeat center;
	background-size: 80px 80px;
}
#feedback-neg:hover {
	background: url(../images/feedback_red_hover.svg)no-repeat center;
	background-size: 80px 80px;
}

#feedback-neutral {
	background: url(../images/feedback_yellow.svg)no-repeat center;
	background-size: 80px 80px;
}
#feedback-neutral:hover {
	background: url(../images/feedback_yellow_hover.svg)no-repeat center;
	background-size: 80px 80px;
}

